@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s ease; 
}

html {
  scroll-behavior: smooth;
}

body {
  --background: rgb(234, 236, 237); 
}

.dark body {
  --background: rgb(21, 19, 18); 
}


body {
  --foreground: rgba(0, 0, 0, 0.80); 
}

.dark body {
  --foreground: rgba(255, 255, 255, 0.80); 
}
